<%provide(:title, "Adminstrative Dashboard - O-HoAC") %>
<div class="row row-top">
<h2 style="text-align: center">
	Welcome to adminstrative dashboard
</h2>
<hr>
	<div class="large-6 columns">
		<div class="card">

                <div class="image">
                <h1 style="text-align: center">
                 	<%= link_to pluralize(@users.count, 'Patient'),  ohoac_administration_dashboard_users_all_path%>
                </h1>
                </div>


                <div class="action">
                <p>- Features -</p>
                <ul>
                  <li>How many appointments each patient as made</li>
                  <li>When was the appointment made</li>
                  <li>To which doctor was the appointment made to</li>
                  <li>To which hospital is that doctor</li>
                </ul>
               
                </div>
               
              </div>
	</div>
	<div class="large-6 columns">
			
		<div class="card">

                <div class="image">
               		<h1 style="text-align: center">
                 	<%= link_to pluralize(@doctors.count, 'Doctor'), ohoac_administration_dashboard_doctors_all_path%>
                </h1>
                </div>


                <div class="action">

                  <!--<a></a>-->
                  <p>
                  	- Features -
                  </p>
                  <ul>
                    <li>How many appointment each doctor has received</li>
                    <li>Who made the appointment</li>
                    <li>At what date and time was the appointment made</li>
                    <li>In which hospital is the doctor</li>
                  </ul>
                 
                  <%= link_to "New", ohoac_administration_dashboard_doctor_new_path %>

                </div>
                


        </div>
	</div>
</div>

<div class="row">
  <div class="large-6 columns">
  
    <div class="card">

                <div class="image">
                  <h1 style="text-align: center">
                  <%= link_to pluralize(@contacts.count, 'Mail'), ohoac_administration_dashboard_messages_board_mails_all_path%>
                </h1>
                </div>


                <div class="action">

                 
                  <p>
                    - Features -
                  </p>
                  <ul>
                    <li>Who asked what</li>
                    <li>People by name who asked what</li>
                    <li>Do they want to belong</li>
                  </ul>
                

                </div>
                


        </div>
  </div>
  
</div>
