<%provide(:title, 'Administrative sign up - O-HoAC') %>
<div class="row row-top">
<h2 style="text-align: center">Administrative Sign up Section</h2>
<hr>
	<div class="large-5 columns">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	</div>
	<div class="large-7 columns">
		<h2>Administrative Login form</h2>
		<%= render 'admins/shared/form' %>
	</div>

</div>
