<%provide(:title, 'New Doctors Account - Administrator')%>
<div class="row row-top">
 <div class="large-6 large-offset-3 columns">
 	<h3>hello i am in here</h3>
 	<%= render 'admins/shared/new_doc' %>
 </div>
</div>