<%provide(:title, "Doctor's | Log in")%>
<div class="row row-top">
  <div class="large-6 large-offset-3 columns"
       style="
       background-color: rgba(255, 255, 255, 0.64);
           margin-top: 10px;
           margin-bottom: 10px;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           -ms-boder-radius: 4px;
           border-radius: 4px;
       ">
    <div class="large-12 columns">
      <div style="text-align: center">

        <h2 style="">Log in</h2>
        <p style="letter-spacing: 2px; margin-top: -4px;">here if you are a doctor!</p>
      </div>
      <%= render "doctor_sessions/shared/d_form" %>
      <div>
      <p>
        New patient? <%= link_to "Sign up now!", signup_path %>
      </p>
    </div>
    <div style="text-align: center">
      <hr class="style-eight">
      <p>
       Log in as
        <strong><%= link_to 'Patient', login_path %></strong>
      </p>
    </div>
  </div>
    </div>
  </div>
</div>
