<%provide(:title, 'Edit info')%>
<%provide(:button_text, "Done!") %>
<div class="row row-top">
<div class="large-6 columns">
  <h2 style="text-decoration: underline">
  OHoAC
  </h2>
  <p style="letter-spacing: 2px">
      Please take a few minutes of your time to complete the registration. We would be happy if you fill in the form given your picture, first name, last name and your date of birth so that your doctors will best understand you and attend to you properly.
  </p>
</div>
  <div class="large-6 columns"
       style="
       background-color: rgba(255, 255, 255, 0.64);
           margin-top: 10px;
           margin-bottom: 10px;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           -ms-boder-radius: 4px;
           border-radius: 4px;
       ">
  <div class="large-12 columns">
    <div style="text-align: center">
      <h1>Complete registration</h1>
      <hr>
    </div>
    <%= render 'users/shared/profile_update' %>
  </div>
  </div>
</div>
