<%provide(:title, 'Edit info')%>
<%provide(:button_text, "Save changes") %>
<div class="row row-top">
<div class="large-6 columns">
  <h2 style="text-decoration: underline">
  OHoAC
  </h2>
  <p>We have a policy to make the world know that<br/>
  we are about to change what they think about us.</p>
</div>
  <div class="large-6 columns"
       style="
       background-color: rgba(255, 255, 255, 0.64);
           margin-top: 10px;
           margin-bottom: 10px;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           -ms-boder-radius: 4px;
           border-radius: 4px;
       ">
  <div class="large-12 columns">
    <div style="text-align: center">
      <h1>Update your profile</h1>
    </div>
    <%= render 'users/shared/profile_update' %>
  </div>
  </div>
</div>
