<%provide(:title, "About - O-HoAC")%>
<div class="row row-top">
<div class="large-2 columns">
<div class="card-2" style="margin-top: 100px">
	<ul class="menu vertical">
		<li><%= link_to 'FAQs', faqs_path %></li>
  		<li><%= link_to 'TERMS', terms_path %></li>
  		
	</ul>
</div>
	
</div>
  <div class="large-9 columns">
    <h1 style="text-align: center;">About o-hoac</h1>
    	<p style="letter-spacing: 2px">
    		The o-hoac offers an interdisciplinary, web-based software for collaboration of healthcare providers. It is based on a common workflow scheduling and patient coordination fulfilling the highest security requirements. Hospitals, clinics and other medical providers can use the online platform www.o-hoac.com to manage their workflows and resource planning without any additional hardware and by that achieve an optimized utilisation. The integrated online booking system offers the possibility to book appointments via internet and without making any telephone calls.<br><br>

			The relationship between doctor and patient becomes easier, more cost-effective, more time-saving and more service-oriented at the same time. The administrative efford is reduced andon the other hand the patient caregets optimised.Hereby o-hoac® supports doctors and hospitals to fulfil their requirements concerning quality management. The system is financed without advertising, by a monthly subscription of the customers. o-hoac® is a completely independent, privately funded provider of technological services.<br><br>

			The o-hoac® software has been used successfully in clinics and hospitals throughout Cameroon in 2016. The product has been developed during a period of two years and in close collaboration with various specialists and IT professionals and was especially designed for the healthcare sector.
			The Online Hospital Appointments and Consultation (o-hoac) was founded in Cameroon in 2016.
    	</p>
  </div>
</div>
