<%provide(:title, "Home") %>
<div style="text-align: center;margin-top: 96px">
  <h1 style="font-size: 150px">
    <%= link_to "Coming soon..."%>
  </h1>
  <p style="font-size: xx-large; font-family: Helvetica, Arial, Sans-Serif; color: #666666;">www.o-hoac.com</p>

</div>


