<%provide(:title, "Home") %>
<div class="row">
  <div class="large-12 columns" style="margin-bottom: 100px">
  <p style="font-size: 600%; text-align: center">
    <%= link_to "Coming soon..."%>
  </p>
  <p style="font-size: xx-large; font-family: Helvetica, Arial, Sans-Serif; color: #666666; text-align: center">www.o-hoac.com</p>
  </div>
</div>


