<%provide(:title, "Terms of use")%>
<div class="row row-top">
<div class="large-2 columns">
	<div class="card-2" style="margin-top: 100px">
	<ul class="menu vertical">
		<li><%= link_to 'ABOUT', about_path%></li>
  		<li><%= link_to 'FAQ', faqs_path%></li>
  		
  		
	</ul>
</div>
</div>

  <div class="large-8 columns">
    <h1 style="text-align: center">Terms of use</h1>
    <p>
    	O-hoac exists to improve your healthcare experience, and we hope you’ll make great use of our service. These terms explain your rights and responsibilities when using o-hoac. If you have any questions, feel free to contact us at service@o-hoac.com. Thank you so much for choosing O-HoAC.

    	<br>
      	<br>
    	We hope you love using O-hoac. We really do. This document contains important information that you need to consider before making an important decision.

    	<br>
    	<br>

    	 The following terms and conditions constitute an agreement between you and o-hoac, Inc. (“O-HoAC,” “we,” or “us”), the operator of o-hoac.com (the “Site”) and related websites, applications, services applications provided by o-hoac and on/in which these Terms of Use are posted or referenced (collectively, the “Services”). These terms of use (the “Terms of Use”), together with our PRIVACY POLICY, ACCEPTABLE USE POLICY and ADDITIONAL TERMS (each of which are incorporated herein by reference, and collectively, this “Agreement”) govern your use of the Services, whether or not you have created an account.

    </p>

    <h5>
    	BY USING OR OTHERWISE ACCESSING THE SERVICES AND/OR BY CREATING AN ACCOUNT WITH US, YOU AGREE TO THE TERMS OF THIS AGREEMENT, INCLUDING THE INFORMATION PRACTICES DISCLOSED IN OUR PRIVACY POLICY, THE USE RESTRICTIONS IN THE ACCEPTABLE USE POLICY AND THE TERMS AND CONDITIONS IN THE ADDITIONAL TERMS. YOU ALSO AGREE TO RESOLVE ANY DISPUTE THAT YOU MAY HAVE WITH US. IF YOU DO NOT AGREE WITH THIS AGREEMENT, YOU CANNOT USE THE SERVICES. </h5><p>Please note that we offer the Services “AS IS” and without warranties. If you create an account or use the Services on behalf of an individual or entity other than yourself, you represent that you are authorized by such individual or entity to accept this Agreement on such individual’s or entity’s behalf.
    </p>

    <h6>YOUR PERSONAL INFORMATION</h6>
    <p>
    	Protecting patient privacy and keeping your information secure are among our biggest priorities. This section will help you understand what information we ask for and why.

		To create a O-haoc account, you must provide a few pieces of basic information about yourself. When you book an appointment through O-hoac, we pass along this information to your Healthcare Provider on your behalf.
		By submitting such information, you authorize O-hoac, its employees, its agents and others operating on its behalf to use and/or disclose such information
    </p>
    <h6>YOUR RESPONSIBILITIES</h6>
    <h5>Your Account Credentials</h5>
    <p>
    	When you create a O-HoAC account, you will provide an email address and create a password (collectively, “Credentials”). You should keep your Credentials private and not share your Credentials with anyone else. You must immediately notify us if your password has been stolen or compromised by sending an email to service@o-hoac.com.
    </p>

    <h5>Your Responsibilities Generally</h5>
    <p>
    	The Services are free, but you are still responsible for your healthcare expenses. Usual, customary and any other charges for any medical or related services rendered by Healthcare Providers will apply and will be entirely your responsibility. You must resolve any dispute between you or any Healthcare Provider arising from any transaction hereunder directly with the Healthcare Provider.
		You are responsible for all use of the Services and for all use of your Credentials, including use by others to whom you have given your Credentials. You may only use the Site and the Services for lawful, non-commercial purposes. You may not use the Site in any manner that could damage, disable, overburden, or impair our servers or networks, or interfere with any other party’s use and enjoyment of the Site or the Services. You may not attempt to gain unauthorized access to any of the Services, user accounts, or computer systems or networks, through hacking, password mining or any other means. You may not accumulate or index, directly or indirectly, any Content or portion of the Site and/or Services (including, without limitation, Healthcare Provider Content, appointment availability, price information, and Insurance Content) for any purpose whatsoever.
    </p>
    <h5>Responsibilities of Healthcare Providers and Others in the Healthcare or Medical Industries</h5>
    <p>
    	If you are a Healthcare Provider or other person or entity in the healthcare or medical industries, regardless of whether you maintain an account with O-hoac or whether you schedule or intend to schedule appointments (including appointments for Designated Provider Services schedule appointments through the Services, you acknowledge and agree that:
    	<br>
    	<br>
    	(a) You will not use the Services to view, access or otherwise use, directly or indirectly, price, availability, or other Content for any purpose other than your own personal use as a patient or prospective patient.

    	<br><br>
    	(b) You will not use the Services, directly or indirectly, to engage in any anti-competitive, deceptive or unfair practices, or otherwise violate applicable antitrust, competition or consumer protection laws, or regulations.
    </p>

    <h2>CHANGES TO THE SERVICES</h2>
    <p>
    	We may from time to time add new features to the Services, substitute a new service for one of the existing Services, or discontinue or suspend one of the existing Services. Under no circumstances will O-hoac be liable for any suspension or discontinuation of any of the Services or portion thereof, and the use of new services will be governed by this Agreement.
    </p>

    <h1>
    	TERMINATION
    </h1>
    <p>
    	If you’re not using the Service appropriately, we’ll want to work with you to set things straight. But we reserve the right, if we determine it is best, to terminate, suspend and/or deactivate your account immediately, without notice, if there has been a violation of this Agreement or other policies and terms posted on the Site or through the Services by you or by someone using your Credentials. We may also terminate, suspend or deactivate your account for any other reason, including inactivity for an extended period. O-hoac shall not be liable to you or any third party for any termination, suspension or deactivation of your access to the Site and/or the Services. Further, you agree not to attempt to use the Site and/or the Services after any such termination, suspension or deactivation (provided, in the case of deactivation due exclusively to your inactivity, you may be permitted to create another account).
    </p>
  </div>
</div>
