<%provide(:title, "Contact - O-HoAC") %>
<div class="row row-top">
	<div class="large-12" style="text-align:center">
		<h2>
		Contact Us
			<hr>
		</h2>
	</div>
	<div class="large-6 columns">
	<h2>Our Details</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="large-6 columns">
	
		<div class="row">
			<div class="large-10 large-offset-2 columns">
			<h4 style="margin-bottom: -3px">Drop us a line.</h4>
			<p>
			if you are a doctor who wants to be onboard.

			</p>
				<%= render 'contacts/shared/contact_form' %>
			</div>
		</div>
	</div>
	</div>
</div>