<%provide(:title, "Contact Us - O-HoAC") %>
<div class="row row-top">
	<div class="large-12" style="text-align:center">
		<h2 id="notifier">
		Contact Us	
		</h2>
		<hr>
	</div>
	<div class="large-6 columns">
	<h3>Our Details</h3>
		<p>
			Welcome to <strong>www.o-hoac.com</strong>. We put our users at the heart of everything we do.
			If you want to get answers and information about any of our services, or to discuss your subscription, get in touch with our top-rated Member Service Centre. 
			We also welcome feedback, so if we've helped you resolve a problem or you aren't happy with the service we offer, let us know so we can put things right. 
			<hr>
		</p>
		<div class="row">
			<div class="large-12 columns">
				<h5>Contact us by phone</h5>
				<p>
					Please phone us if you have any queries, quoting your name, which can be found above your profile picture or just who you are.
				</p>
				<h4>Phone: (+237) xxxxxxxxx</h4>
				<p>24/7</p>
			</div>
		</div>
	</div>

	<div class="large-6 columns">
	
		<div class="row">
			<div class="large-10 large-offset-2 columns">
			<h4 style="margin-bottom: -3px; text-decoration: underline">Drop us a line.</h4>
			<p style="letter-spacing: 2px">
			if you are a doctor who wants to be onboard.<br>
			<strong>We will get back to you within 24hours</strong>

			</p>
				<%= render 'contacts/shared/contact_form' %>
			</div>
		</div>
	</div>
	</div>
</div>