<%provide(:title, "Update profile")%>
<%provide(:button_text, "Save changes") %>
<div class="row-top" style="text-align: center">
  <h5>
    Update your personal information
  </h5>

</div>
<div class="row">
  <div class="large-5 columns">
  <h5 style="text-decoration: underline">Specifics</h5>
    <%= render 'doctors/shared/edit_links'%>
  </div>
  <div class="large-7 columns">
    <div class="row" id="container">
      <div class="large-12 columns">
        <div style="text-align: center">
          <h5>
            <hr>
          </h5>
        </div>
        <%= render 'doctors/shared/update'%>
      </div>
    </div>
  </div>
</div>