<%provide(:title, "Dashboard") %>

<div class="row row-top">

  <div id="profileDetails">
    <div class="large-3 columns"
         style="
         background-color: #ffffff;
             margin-top: 0px;
             -webkit-border-radius: 4px;
             -moz-border-radius: 4px;
             border-radius: 4px;
             margin-bottom: 100px;
         ">
      <%= render 'doctors/shared/profile' %>
    </div>

  </div>

    


  <%= content_tag :div, id: 'new_appointments', data: { url: doctor_path(@doctor) } do %>
      <%= render "doctors/shared/appointment" %>
  <% end %>


</div>
