input{
   &[type=text], &[type=email], &[type=password],&[type=submit] {
     border-radius: 4px;
   }
}
.checkbox {
  margin-top: -1px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
.profdet{
  height: 100px;
}