.success{
  text-align: center;
  border-radius: 4px;
  position: relative;
  z-index: 4;
 
  top: 0;
  margin-bottom: -2.2rem;
}
.success > p{
  padding-top: 10px;
  color: #EFEFEF;
  font-size: 30px;

}
.danger{
  text-align: center;
  border-radius: 4px;
  position: relative;
  margin-bottom: -2.2rem;
  z-index: 4;
  top: 0;
}

.danger > p{
  padding-top: 10px;
  color: #d50000;
  font-size: 30px;
}

.error{
  text-align: center;
  border-radius: 4px;
  position: relative;
  z-index: 4;
 
  top: 0;
  margin-bottom: -2.2rem;
}
.error > p{
  padding-top: 10px;
  color: #d50000;
  font-size: 30px;

}